.under-nav {
    text-align: center;
    margin-top: 130px;
}

@media (max-width : 450px) {
    .under-nav {
        text-align: center;
        margin-top: 180px;
    }
  }

  @media (max-width : 400px) {
    .under-nav {
        text-align: center;
        margin-top: none;
    }
  }